<ng-template #art>
  <svg class="seal__art" viewBox="0 0 16 16" shape-rendering="crispEdges" focusable="false">
    @for (p of pixels; track $index) {
      <rect [attr.x]="p.x" [attr.y]="p.y" width="1" height="1" [attr.fill]="p.fill" />
    }
    @if (monogram(); as letter) {
      <text class="seal__mark seal__mark--light" x="8.5" y="8.6">{{ letter }}</text>
      <text class="seal__mark" x="8" y="8.1">{{ letter }}</text>
    } @else {
      @for (p of heart; track $index) {
        <rect [attr.x]="p.x" [attr.y]="p.y" width="1" height="1" [attr.fill]="p.fill" />
      }
    }
  </svg>
</ng-template>

<span class="seal__whole"><ng-container [ngTemplateOutlet]="art" /></span>
@if (broken()) {
  <span class="seal__burst"></span>
  <span class="seal__half seal__half--left"><ng-container [ngTemplateOutlet]="art" /></span>
  <span class="seal__half seal__half--right"><ng-container [ngTemplateOutlet]="art" /></span>
}
